body{

    background-color: #102C57;
    text-align: center;
}

h3{

    color: #FFFF80;
}
.container{

    height: 70vh;
    display:flex;
    justify-content: center;

    align-items: center;

}

.game{

    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
    gap:1.5vmin;
   

}
.box{

    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    background-color: #F3D0D7;
    
}


.box:hover {
    background-color: #da2f88; /* New color on hover */
}



#reset{

    padding: 20px;
    background-color:#FF0080 ;
    
}



#msg{

    color: #FF0080;

}

.msgc{

    height: 10vmin;  
    color:#FFAA80;
    font-size: 60px;


}
